

<div class="container">
    <div class="row" id="itemList"></div>
</div>

<script id="itemTemplate" type="text/x-jsrender">
    <div class="col-3 events">
        <div class="hover panel item" id="event_{{:id}}" data-id="{{:id}}">
            <div class="front">
                <div class="box1">
                    {{:date}} <br>
                    <h4 class="name">{{:name}}</h4>
                </div>
            </div>
            <div class="back">
                <div class="box2">
                    {{:description}}
                {{if primaryAction}}
                    <a href="{{:primaryAction.url}}" title="{{:primaryAction.url}}" target="_blank" class="primary-action wh-dark">
                        {{if primaryAction.label}}
                            {{:primaryAction.label}}
                        {{else}}
                            ...
                        {{/if}}
                    </a>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>