

<div class="container">
    <div class="row" id="itemList"></div>
</div>

<script id="itemTemplate" type="text/x-jsrender">
    <div class="col-3 events wh-dark">
        <div class="hover panel item" id="event_{{:id}}" data-id="{{:id}}">
            <div class="front">
                {{if image}}
                     <div class="box1" style="background-image:url({{:image}});padding:0;background-size:cover;background-position:center"> 
                     <div class="image-box">
                         <img src="{{:image}}" style="border-radius:50px;height:100px;width:100px;margin-bottom:20px">
                         <h4 class="wh-dark-text">{{:date}}</h4>
                         <h2 class="name wh-dark-text">{{:name}}</h2>
                    </div>

                    {{else}}
                     <div class="box1">
                         <h4 class="wh-dark-text">{{:date}}</h4>
                    <h2 class="name wh-dark-text">{{:name}}</h2>
                {{/if}}
                
                    
                </div>
            </div>
            <div class="back">
                <div class="box2">
                   <p class="details-link wh-dark-text">{{:description}}</p>
                {{if primaryAction}}
                    <p class="details-link wh-dark-text">
                        {{if primaryAction.label}}
                            {{:primaryAction.label}}
                        {{else}}
                            ...
                        {{/if}}
                    </p>
                {{/if}}
                <a href="#" class="read-more details-link wh-dark wh-light-text">Read More</a>
                </div>
            </div>
        </div>
    </div>
</script>