.row {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.col-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
	flex: 0 1 280px !important;
	max-width: 100% !important;
}

.col_third {
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}

.wrapper {
    hoverflow: hidden;
}

.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

.image-box {
	background-color: rgba(235,235,235,.9);
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	padding-top: 40px;
}

.panel {
	margin: 0 auto;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
    height: 300px;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
    position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
    position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel:hover .front {
	z-index: 900;
    position: absolute;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel:hover .back {
	z-index: 1000;
    position: absolute;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background-color: #f2f2f2;
	margin: 0 auto;
    width: 250px;
	height: 300px;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: auto;
}
.box2{
	background-color: #f2f2f2;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    color: #FFF;
	margin: 0 auto;
    width: 250px;
	height: 300px;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    overflow:auto;
    display: flex;
	flex-flow: row wrap;
    align-items: center;
	justify-content: center;
}

.details-link {
    display: inline-block;
}

.details-link:hover, .details-link:focus {
    text-decoration: none;
	color: #333;
}

a.read-more {
	align-self: flex-end;
	padding: 5px 25px;
	border-radius: 5px;
	margin-top: 20px;
}

a.read-more:hover {
	color: #FFF;
}

@media(max-width:768px) {
	.col-3 {
		max-width:100% !important;
	}
	.front {
		position: static !important;
	}
}