/*body {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background: #ececec;
    font-size:14px;
}
#itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    margin: 15px;
    flex-flow: column;
    flex: 1;
    flex-basis: 200px;
    position: relative;
}
.group:empty {
    height:0;
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0
}
.date {
    font-size:0.9em;
}
h2.title {
    margin:0.4em 0;
    font-family: 'Cairo', sans-serif;
    line-height:1.3em;
}
.description {
    font-size: 1em;
    line-height:1.5em;
}
.item img {
    max-width:100%;
}

.primary-action {
    position: absolute;
    bottom:10px;
    width:calc(100% - 20px);
    display: block;
    height:30px;
    line-height:30px;
    text-align: center;
    text-decoration: none;
}

.event-image {
    width: 100%;
    padding-top:15px;
}
*/

.col-3 {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.wrapper {
    hoverflow: hidden;
}

.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

.panel {
	margin: 0 auto;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
    display: flex;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel:hover .front {
	z-index: 900;
    position: absolute;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel:hover .back {
	z-index: 1000;
    position: absolute;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background-color: #14bcc8;
	margin: 0 auto;
    width: 250px;
	height: 150px;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.box2{
	background-color: #ff7e70;
	margin: 0 auto;
    width: 250px;
	height: 150px;
    width:100%;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}